.flex-row {
  max-width: 1440px;
  display: block;
  margin: 10px auto;
  text-align: center;
}

.flex-column {
  width: 100%;
}

@media only screen and (min-width: 640px) {
  .flex-row {
    display: flex;
  }

  .flex-column {
    flex: 1;
  }

  .flex-triple {
    flex: 3;
  }
}

