* {
  box-sizing: border-box;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

body {
  font-size: 2em;
  /* font-family: 'Times New Roman', Times, serif; */
  font-family: 'Cabin', sans-serif;
  /* font-family: 'Just Me Again Down Here', cursive; */
  background-image: url("square_bg.png");
}

header, .landing, form {
  text-align: center;
}

h1 {
  font-size: 1.25em;
  /* font-family: 'Gloria Hallelujah', cursive; */
  margin-top: 5px;
  margin-bottom: 5px;
}

h1 a {
  color: black;
}

h2 {
  font-size: 1.25em;
  margin-top: 5px;
  margin-bottom: 5px;
}

a {
  text-decoration: none;
  /* color: #1D0A6B; */
}

.userinfo {
  text-align: center;
  font-size: .75em;
  display: block;
}

.login, .logout {
  font-size: 0.8em;
}

.log-links {
  text-align: center;
}

.fridge__info {
  text-align: center;
  /* font-family: 'Gloria Hallelujah', cursive; */
  font-size: 0.75em;
}

.alert {
  height: 50px;
  margin-top: 20px;
  padding-top: 5px;
  border-radius: 5px;
  text-align: center;
  font-size: 1.25em;
  opacity: 0.5;
  transition:all 0.3s ease;
}

.alert--save {
  background-color: green;
  color: black;
}

.alert--delete {
  background-color: red;
  color: black;
}

.alert--update {
  background-color: yellow;
  color: black;
}

.alert--login, .alert--register, .alert--unauthorized, .error {
  background-color: red;
}

.poem {
  margin-top: 50px;
  border-top: 5px solid black;
}

.word {
  font-family: 'Times New Roman', Times, serif;
  display: inline-block;
  margin-right: 10px;
  margin-top: 10px;
  background-color: white;
  text-align: center;
  padding: 5px;
  box-shadow: 1px 3px 6px 0px #000000;
}

.word:hover {
  cursor: move;
}

.dragging {
  transform: rotate(10deg);
}

.verse__textbox {
  width: 100%;
}

.fridge {
  background: silver;
  width: 100%;
  height: 50%;
  font-size: .75em;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  padding: 10px;
  z-index: -1;
  box-shadow: 1px 3px 6px 0px #000000;
  border: 3px solid black;
}

.buttons {
  text-align: center;
}

.fridge__button {
  margin-bottom: 10px;
}

input[type="button"], input[type="submit"] {
  /* width: 75%; */
  /* height: 50px; */
  font-size: 0.75em;
}

input[type="text"], input[type="password"] {
  width: 75%;
  height: 50px;
  margin-bottom: 40px;
  font-size: 1.25em;
}

.word-bank, .poem {
  text-align: left;
}

.hidden {
  display: none;
}

input[type="button"], input[type="submit"], button {
    /* background-color: lightgray; */
    /* font-family: 'Gloria Hallelujah', cursive; */
    /* border-radius: 5px; */
    border: none;
    /* font-size: 1.1em; */
    /* font-size: 0.5em; */
}

.magnet {
  font-family: 'Times New Roman', Times, serif;
  margin-right: 10px;
  margin-top: 10px;
  background-color: white;
  text-align: center;
  padding: 5px;
  box-shadow: 1px 3px 6px 0px #000000;
  display: inline-block;
}

h1 .magnet:nth-child(1) {
  transform: rotate(-3deg);
}

h1 .magnet:nth-child(2) {
  transform: rotate(4deg);
}

input[type="text"], input[type="password"] {
    padding: 5px 10px 5px 10px;
    font-family: 'Cabin', sans-serif;
    word-wrap: break-word;
    background-color: lightgray;
    border-radius: 5px;
  }

/* LARGE SCREEN SIZES */

@media only screen and (min-width: 640px) {
  body {
    font-size: 1.5em;
  }

  h1 {
    margin-bottom: 0;
    margin-top: 0;
    font-size: 1.5em;
  }

  h2 {
    margin-top: 0;
    margin-bottom: 0;
  }

  a {
    transition:all 0.3s ease;
  }

  a:hover {
    font-weight: bold;
  }

  .landing h2, form {
    margin-top: 100px;
  }
  
  .fridge {
    width: 50%;
    height: 800px;
  }

  .fridge__info {
    font-size: 1.25em;
  }
  
  .userinfo {
    position: absolute;
    right: 100px;
    top: 0;
  }

  .word {
    font-size: 1.5em;
  }

  input[type="button"], input[type="submit"] {
    /* width: 10%; */
    /* height: 0; */
    transition:all 0.3s ease;
    font-size: 1.1em;
    /* padding-bottom: 60px; */
  }

  input[type="button"]:hover, input[type="submit"]:hover {
    background-color: rgb(245, 245, 245);
    transform: scale(1.1);
  }

  input[type="submit"] {
    font-size: 1.25em;
  }

  input[type="text"], input[type="password"] {
    width: 35%;
    transition:all 0.3s ease;
  }

  input[type="text"]:focus, input[type="password"]:focus {
    background-color: rgb(245, 245, 245);
    transform: scale(1.1);
  }

  .login, .logout {
    position: absolute;
    right: 10px;
    top: 10px;
  }
}