* {
  box-sizing: border-box;
}

.poem {
  margin-top: 50px;
  border-top: 5px solid black;
}

.word {
  display: inline-block;
  width: 100x;
  margin-right: 20px;
  margin-top: 20px;
  font-size: 1.5em;
  background-color: white;
  text-align: center;
}

.word:hover {
  cursor: move;
}

.verse__textbox {
  width: 100%;
}

.fridge {
  background: lightgrey;
  width: 800px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  padding: 10px;
  z-index: -1;
}

.buttons {
  text-align: center;
}